#cabecalho {
  background-color: aqua;
}

/*Rodapé*/
.c-footer {
  background-color: #F5F5F7;
  padding: 5rem 0 5rem 0;
}

.fw-bold {
  color: black
}

.p-text {
  color: #454545;
}

.texto {
  padding-top: 5rem;
}